Non-functional requirements taken from the Hierarchical Group Headings in the Affinity Diagram

1. Make the gameplay interesting
Test:
i.	Provide avenues for humour and surprise when playing the game.
ii.	Despite the serious message the game is putting across, it should not be overbearing.

2. Make the game visually appealing
Test:
i.	Utilise design best practices for applications.
ii.	Organise the navigation in a clear and consistent manner.
iii.	Reuse elements and patterns for consistent style.
iv.	Give immediate and clear feedback of successful user actions.

3. Make the game easy to learn and play
Test: 
i.	The time taken to read instructions should not exceed 5 minutes. 
ii.	Actual game should not require the player to set up and work "out-of-the-box".

4. Make the game physically and virtually acessible
Test: 
i.	The game must not require advanced hardware or specialised knowledge to run. 
ii.	Devices able to run the game should be readily available or already commonly used by our target audience.
iii.	Game should not require an upfront purchase to play.

5. Make the game playable for a variety of people
Test: 
i.	Instructions must be easily understandable by not containing jargon or technical explanations. 
ii.	Game should cater to wide audience by layering its technical depth so advanced users may explore it's features if wished.